<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../partials/head', {
            title: project.meta_title[0].text, 
            description: project.meta_description[0].text ,
            favicon: project.meta_favicon.url
        }); %>

        <link rel="stylesheet" href="/chirac.css">
    </head>

    <body id="home" class="chirac-project chirac-project__home">

        <header>
            <div class="page-title">
                <h1><%= project.title[0].text %></h1>
                
                <div class="subtitle">
                    <span><%= project.subtitle[0].text %></span>
                    <span><%= project.presidence_date[0].text %></span>
                </div>
            </div>
        </header>


        <main>
            <!-- background svg -->
            <%- include('../../svg_templates/svg_chirac.ejs'); %>
          

            

            <div class="content-section">

                <!-- Citations -->
                <ul class="citations citations__list">
                    <% citations.forEach(function(citation, index){ %>
                        <li class="citations citations__item">
                            <div class="citation__pagination">
                                <div class="index-container">
                                    <span>0</span><span class="index"><%= index + 1 %></span><span class="length">/0<%= citations.length %></span> 
                                </div>
                                <div class="duration"></div>
                            </div>
                            
                            
                            <p class="citation__text" data-index="<%= index + 1 %> "><%= citation %></p>
                        </li>
                    <% }); %>
                </ul>

                <div class="widget widget__container">
                    <!-- Logo -->
                     <div class="widget__logo-container">
                        <img src="<%= project.logo.url %>" alt="<%= project.logo.alt %>" class="img-block img-block__center widget__logo">
                     </div>
                    

                    <!-- Description -->
                    <p class="widget__description"><%= project.description[0].text %></p>

                    <!-- Quiz title -->
                    <h2 class="widget__quiz-title"><%= project.quiz_title[0].text %></h2>

                    <!-- Quiz -->
                    <div class="widget__cta-section">
                        <a href="<%= prismicLinkProjectResolver(project.link_quiz) %>" class="cta_quiz" data-label="Lancez le quiz">
                            Lancez le quiz
                            <span class="decoration_lines top"></span>
                            <span class="decoration_lines bottom"></span>
                        </a>
                    </div>
                </div>


                <!-- Social médias -->
                <ul class="social-medias__list">
                    <% project.social_media.forEach(function(social){ %>
                        <li>
                            <a href="<%= social.social_link.url %>" >
                                <img src="<%= social.social_logo.url %>" alt="<%= social.social_logo.alt %>">
                            </a>
                        </li>
                    <% }); %>
                </ul>
            </div>
            
        </main>


        <!-- scripts -->
        <%- include('../../partials/scripts', {
            src: [
                '/chirac.js',
            ], 
        }); %>
    </body>
</html>